* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
    display: none;
}
/* 
#wrapper h1, 
#wrapper h2 {
    text-align: center;
}

#content {
    display: flex;
}

#restaurants-list,
#restaurant-operations {
    width: 50%;
} */

#submit {
    width: 80px;
    display: flex;
    justify-content: space-around;
}

/* #restaurant-operations button {
    width: 80px;
} */

form,
#put-post-form,
#get-delete-form {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

form, 
#put-post-form,
#get-delete-form {
    display: none;
}
