* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width:300px;
}

#submit-temp{
    width: 80px;
    display: flex;
    justify-content: space-around;
    display: none;
}

#submit {
    width: 80px;
    display: flex;
    justify-content: space-around;
}

form{
    margin-top: 20px;
}


#put-post-form,
#get-delete-form {
    display:none;
}

<<<<<<< HEAD
.join-trip{
    /* display: block; */
    margin-left: auto;
    width: 100px;
    justify-content: space-around;
    
}

=======
.g-signin2{
    margin-top: 50px;
}
>>>>>>> 483a9f53ff07993b1f3443ff3dfa6930754b819f
